.all {
    display: flex;
    justify-content: center;
    align-items: center;


}

.tip {

    padding-top: 60px;
    width: 270px;
    position: absolute;
    z-index: 100;
}

.tips {
    font-weight: bold;
    padding-top: 30px;
    margin-top: 50;
    margin-bottom: 0;
    z-index: 100;
}